body{
	background-image: url("../images/fondo.png");
	
}

#indexMain3{
	background-image: url("../images/textura1.svg");
	position: relative;
	bottom: 0;

}

#indexMain2{
	background-color: #0a8aee;
	padding-bottom: 3%;
}

#apchagui{
	margin-left: 18%;
}
#caidasPic{
	margin-left: 8%;
}
#mainTitle{
	margin-top: 10%;
	color:	white;
	font-family: 'Bowlby One SC', cursive;
	text-align: center;
	font-size: 3em;}




#imageHome{
	width :100%;

}


.parrafOne{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	text-align: center;
	font-size: 20px;


	border-radius: 20px;
	padding: 10px;
	

}



#login, #singUp{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	padding: 15px;
	background-color: #0a8aee;
	color:white;
	}

#login{
	margin: 5% 5%0 

}

#singUp{
	margin-top: 5%;
}

#singUp2{
	margin-bottom: 5%;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	padding: 15px;
	background-color: #EF214A;
	color:white;
}


#indexRight{
	margin-top: 2%;
	margin-left: 2%;
}

ol.breadcrumb{
	background-color: #0a8aee;
	padding-left: 3%;

	
}

a{
	color: white;
	font-family: 'Raleway', sans-serif;
}

#video{
	margin-left:10%;
	margin-top: 5%;

}

#videoDos{
	margin-left:8%;
	margin-top: 5%;

}

#videoAlientoTwo{
	margin-top: 10%;
}
.textContent{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 16px;
	background-color: #ffffff;
	padding: 12px;
	border-radius: 10px;
}
.infoTitle{
	font-family: 'Bowlby One SC', cursive;
	font-size: 2em;
	text-align: center;

}

.closeButton{
	background-color: #0a8aee;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color:White;
	
}

.info{
	margin-top: 4%;
	margin-left: 5%;
}

.pageTitle{
	text-align: center;
	font-family: 'Bowlby One SC', cursive;


}
#footer{
	margin-top: 8%;
	padding: 10px 0 10px 0;
}

#mainTitle2{
	color:	White;
	font-family: 'Bowlby One SC', cursive;


}

.pageDescription{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	text-align: center;
	margin-left: 25%;
	font-size: 2em;
}

#pageAliento{
	margin-left: 33%;

}

#buttonsLlaves{
	margin-left: 42%;
	margin-bottom: 6%;
	
}
#llavesPic{
	margin-left: 29%;
}
#alientoImg{
	margin-left: 18%;
}

#buttonsPumse{
	margin-left: 25%;
	margin-bottom: 5%;
}
#buttonsCaidas{
	margin-left: 43%;
	margin-bottom: 3%;
}
#buttonsArmas{
	margin-left: 40%;
	margin-bottom: 5%;
}

#buttonsAliento{
	margin-left: 45%;
	margin-bottom: 5%;
}

#buttonsHome{
	margin: 5% 0 5% 20%;
}

#rowOne{
	margin-bottom: 2%;
}

.btn-lg.round {
	border-radius: 24px;
	background-color: #0a8aee;
	border:none;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

.btn-lg.round:hover{
	background-color: #EF214A;
	font-size: 22px;

}

#signUpDiv{
	background-color: #0a8aee;
	margin-top: 5%;
	margin-left: 30%;
	padding-left: 2%;
	border-radius: 30px;

}
.control-label{
	font-family: 'Raleway', sans-serif;
	padding-top: 10px;
	font-weight: bolder;

}

#singUp2:hover{
	background-color: white;
	color:#0a8aee;
}

a:hover{
	color:black;
	text-decoration: none;
}