body{
	background-image: url("../images/fondo.png");
	
}

#mainTitle{
	margin-top: 10%;
	color:	#0a8aee;
	font-family: 'Bowlby One SC', cursive;
	text-align: center;
	font-size: 3em;


}

#imageHome{
	width :100%;

}


.parrafOne{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	text-align: center;
	font-size: 20px;


	border-radius: 20px;
	padding: 10px;
	

}



#login, #singUp{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	padding: 15px;
	background-color: #0a8aee;
	color:white;
	}

#login{
	margin: 5% 5%0 25%

}

#singUp{
	margin-top: 5%;
}

#indexRight{
	margin-top: 8%;
	margin-left: 2%;
}

ol.breadcrumb{
	background-color: #0a8aee;
	padding-left: 3%;

	
}

a{
	color: white;
	font-family: 'Raleway', sans-serif;
}

#video{
	margin-left:10%;
	margin-top: 5%;

}

#videoDos{
	margin-left:8%;
	margin-top: 5%;

}

#videoAlientoTwo{
	margin-top: 10%;
}
.textContent{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 16px;
	background-color: #ffffff;
	padding: 12px;
	border-radius: 10px;
}
.infoTitle{
	font-family: 'Bowlby One SC', cursive;
	font-size: 2em;
	text-align: center;

}

.closeButton{
	background-color: #0a8aee;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	
}

.info{
	margin-top: 4%;
	margin-left: 5%;
}

.pageTitle{
	text-align: center;
	font-family: 'Bowlby One SC', cursive;


}

.pageDescription{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	text-align: center;
	margin-left: 25%;
	font-size: 2em;
}

#pageAliento{
	margin-left: 33%;
}

#buttonsLlaves{
	margin-left: 42%;
	
}

#buttonsPumse{
	margin-left: 25%;
}
#buttonsCaidas{
	margin-left: 43%;
	
}
#buttonsArmas{
	margin-left: 40%;
	
}


#buttonsAliento{
	margin-left: 43%;
	
}


.btn-lg.round {
	border-radius: 24px;
	background-color: #0a8aee;
	border:none;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

.btn-lg.round:hover{
	background-color: #aa008f;
	font-size: 22px;

}